<div class="row">
  <div class="col-md-12">
    <h1>{{catalogDetail.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <img src="{{catalogDetail.imagePath}}"
    alt="{{catalogDetail.name}}"
     class="img-responsive"
     style="max-height : 250px;">
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h1>{{catalogDetail.desc}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let item of catalogDetail.shoppingItems;
      let i  = index">{{item.name}}
      <span class="badge" style="background-color: #398439;"> {{item.amount}}</span></li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="btn-group">
        <button type="button" class="btn btn-primary" routerLink="edit">Edit</button>
        <button type="button" class="btn btn-primary" (click)="deleteCatalog()">Delete</button>
        <button type="button" class="btn btn-primary" (click)="addToCart()">Add to Shopping Cart</button>
    </div>
  </div>
</div>
